@font-face {
    font-family: m;
    src: url(https://webstatic.mihoyo.com/common/clgm-static/ys/fonts/zh-cn.ttf) format("truetype");
    font-display: swap
}

body {
    font-family: m;
    background-color: #bed2bb;
}

h2 {
    font-family: m;
    color: #226b68;
}

h4 {
    font-family: m;
    color: #226b68;
}

p {
    font-family: m;
    color: #226b68;
}

a {
    font-family: m;
    color: #84a729;
}

button {
    background-color: #92905d;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

code {
    font-family: m;
    background-color: #f5f3f2;
    color: #e18a3b;
    border-radius: 5px;
}

h1 {
    color: #003d74;
}

div {
    border-radius: 25px;
    background-color: #bed2bb;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
 /* Safari */;
}

div:hover {
    background-color: #c0d09d;
}

a {
    color: #3271ae;
}

.inp {
    background-color: #92905d;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    appearance: none;
}
